# After your first login, create a separate
# admin user and delete this user immediately.
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME="tempadmin"
# Generate a password for your temporary user
# with this command: openssl rand -base64 32
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=
KEYCLOAK_HOSTNAME="localhost"
KEYCLOAK_DB_VENDOR="postgres"
KEYCLOAK_DB_URL="jdbc:postgresql://172.17.0.1:5432/keycloak"
KEYCLOAK_DB_USERNAME="DB_USER"
KEYCLOAK_DB_PASSWORD="DB_PASS"